<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net451" />
  <package id="FakeItEasy" version="7.3.1" targetFramework="net451" />
  <package id="GitVersionTask" version="3.4.1" targetFramework="net451" developmentDependency="true" />
  <package id="NUnit" version="3.13.2" targetFramework="net451" />
  <package id="NUnit.ConsoleRunner" version="3.15.0" targetFramework="net451" />
</packages>